.THIS .chartClass{
    width: 93% !important;
    max-width: 598px!important;    
}

.THIS #container {
    font-size: 2em;
    color: #0f375c;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.THIS #Turnover {
    font-size: 0.9em;
    font-weight: 300;
}

.THIS .footerDesc{
    color: #0f375c;
    font-size: 0.6em;
}