.THIS table {  
    font-family: arial, sans-serif;  
    border-collapse: collapse;  
    width: 100%;  
}  

.THIS td, .THIS th {  
    border: 1px solid #dddddd;  
    text-align: left;  
    padding: 8px;  
}  

.THIS tr:nth-child(even) {  
    background-color: #dddddd;  
} 
.THIS form > h2{
    color: #0094ff;
} 
.THIS form > p:first-child{
    font-size: large;
}
.THIS .createPDF{
    font-size: 14px;
}