.THIS .divButton{
    align-items: center;
    justify-content: end;
    display: flex;
    padding-bottom: 10px;       
}

.THIS .buttonAbrirr{
    width: 100%;
    border-radius: 15px;
}

.THIS .userResultSearchShare{
    color: black;
    padding-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.THIS .userResultSearchShare:hover{
    background-color: rgb(0 0 0 / 7%);
    cursor: pointer;
}

.THIS .userResultSearchShare2{
    color: black;
    padding-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.THIS .userResultSearchShare2:hover{
    background-color: rgb(0 0 0 / 7%);
    cursor: pointer;
}

.THIS .backgroundNoise{
    height: 100%;
    display: flex;
    background-size: 30px;
    justify-content: center;
    background-color: rgb(255 255 255 / 80%);
    background-image: url(https://hospcom.file.force.com/servlet/servlet.ImageServer?id=015U40000025rwz&oid=00Di0000000JVhH&lastMod=1706896921000);
    align-items: center;
}

.THIS .divSearchResults{
    height: 100px;
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    overflow: auto;
    z-index: 200;
    background: white;
    display: none;
}

.THIS .divSearchResults2{
    height: 100px;
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    overflow: auto;
    z-index: 200;
    background: white;
    display: none;
}

.THIS .boxCriaOts{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    padding: 20px;
    width: 700px;
    border-radius: 30px;
    height: 300px;
    background-color: white;
    box-shadow: 0 5px 9px 1px rgb(46 51 51 / 8%), 0 31px 64px 0 rgb(46 51 51 / 15%);
}


.THIS .classColumn{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.THIS .headerCompartilhaQuadro{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.THIS .compartilhaQuadroText{
    font-size: 1.5em;
    font-weight: 500;
}

.THIS .closePopup{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.THIS .closePopup:hover{
    font-size: 1.6em;
    cursor: pointer;
}

.THIS .criaCustomSelect{
    width: 100%;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
}