.THIS body {
    text-transform: uppercase;
    width: 80%;
}

.THIS .title {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.THIS .tree {
    display: block !important;
    max-width: 80vw !important;
    overflow-x: auto !important;
    margin: 0 auto !important;
}

.THIS .tree,
.THIS .tree ul,
.THIS .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.THIS .tree {
    margin: 0 0 1em;
    text-align: center;
}

.THIS .tree,
.THIS .tree ul {
    display: table;
}

.THIS .tree ul {
    width: 100%;
}

.THIS .tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}

.THIS .tree li:before {
    outline: solid 1px #000;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.THIS .tree li:first-child:before {
    left: 50%;
}

.THIS .tree li:last-child:before {
    right: 50%;
}

.THIS .tree code,
.THIS .tree span {
    border: solid 1px #000;
    border-radius: 5px;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
    background-color: #fff;
    font-weight: 700;
    color: #0f375c;
}

.THIS .tree ul:before,
.THIS .tree code:before,
.THIS .tree span:before {
    outline: solid 1px #000;
    content: "";
    height: .5em;
    left: 50%;
    position: absolute;
}

.THIS .tree ul:before {
    top: -.5em;
}

.THIS .tree code:before,
.THIS .tree span:before {
    top: -.55em;
}

.THIS .tree>li {
    margin-top: 0;
}

.THIS .tree>li:before,
.THIS .tree>li:after {
    top: 1.4em;
    z-index: 0;
}

.THIS .tree>li>code:before,
.THIS .tree>li>span:before {
    content: none;
}

.THIS .tree::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.THIS .tree::-webkit-scrollbar-track {
    background-color: rgb(255 255 255 / 0%);
}

.THIS .tree::-webkit-scrollbar-thumb {
    background-color: #a0bb31;
    border-radius: 38px;
    border: 0px none #ffffff;
}

.THIS .popup .popuptext::before {
    content: none;
}

.THIS .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.THIS .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #0f375c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 50%;
    margin-left: -80px;
}

.THIS .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0f375c transparent transparent transparent;
}

.THIS .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}