.THIS .btn {
    background: #e13b3b;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 13px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;

    animation: pulse 2.5s ease-in-out infinite;

    transition: 0.3s;
}

.THIS .btn:hover {
    transform: scale(1.03); /* leve aumento no hover */
    background-color: #ac2525;
}

@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.03); }
    100% { transform: scale(1); }
}