.THIS .divMestre{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 60%);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}

.THIS .popupSignature{
    display: flex;
    width: 600px;
    height: 300px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    flex-direction: column;
    position: fixed;
    /* top: 0; */
    z-index: 20;
}

.THIS .headerPopup{
    width: 100%;
    display: flex;
    height: 15%;
    border-bottom: 1px solid #ede7e7;
}

.THIS .bodyPopup{
    width: 100%;
    display: flex;
    height: 70%;
    border-bottom: 1px solid #ede7e7;
    align-items: center;
    justify-content: center;
}

.THIS .footerPopup{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 15%;
    cursor: pointer;
    color: #0f375c;
}

.THIS .colSignature{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f375c;
}

.THIS .row{
    margin-top: 0px!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.THIS .secondaryText{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f375c;
}

.THIS .signature-pad {
  width:500px;
  border: 1px solid #ede7e7;
}