.THIS .principalDiv4745839{
    display: flex;
    width: 100%;
    height: 800px;
    position: relative;
    column-gap: 30px;
}

.THIS .linha3423{
    height: 50px!important;
}

.THIS .infoText453345{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 100;
    color: grey;
}

.THIS .urgente6546456{
    background-color: yellow!important;
}

.THIS .columnUm2347238423{
    display: flex;
    width: 50%;
    flex-direction: column;
    row-gap: 30px;
}

.THIS .headerBody3242{
    display: flex;
    min-height: 40px;
    height: 40px;
}

.THIS .bodyBody433544::-webkit-scrollbar {
    width: 6px;
}

.THIS .bodyBody433544::-webkit-scrollbar-track {
    background: #ffffff;
}

.THIS .bodyBody433544::-webkit-scrollbar-thumb {
    background-color: #a0bb31;
    border-radius: 38px;
    border: 0px none #ffffff;
}

.THIS .esqBot32482958f::-webkit-scrollbar {
    width: 6px;
}

.THIS .esqBot32482958f::-webkit-scrollbar-track {
    background: #ffffff;
}

.THIS .esqBot32482958f::-webkit-scrollbar-thumb {
    background-color: #a0bb31;
    border-radius: 38px;
    border: 0px none #ffffff;
}

.THIS .itemPcs{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    max-height: 40px;
    min-height: 40px;
    border-bottom: 1px solid #e6e6e7;
}

.THIS .fontTopo23423{
    font-family: system-ui;
    font-size: 1.2em;
    color: #0c375a;
    font-weight: 600;
}

.THIS .title23423423{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 2em;
    color: #0c375a;
    font-family: system-ui;
    font-weight: 400;
}

.THIS .buttonDownloadXML{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
}

.THIS .buttonDownloadXML:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.THIS .headerPopup{
    display: flex;
    padding-bottom: 10px;
}

.THIS .buttonClose{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #0c375a;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
}

.THIS .textAreaComentariosPedido342345423{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 30px;
    border: 0px;
    max-height: 350px;
    color: #0c375a;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}


.THIS .buttonClose:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.THIS .buttonConcluir{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
}

.THIS .buttonConcluir:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.THIS .buttonLancar{
    background-color: green;
    border-radius: 10px;
    color: white;
    height: 80% !important;
    width: 50%;
    display: flex;
    border: 0px;
    align-items: center;
    justify-content: center;
}

.THIS .buttonLancar:disabled,
.THIS .buttonLancar[disabled]{
  background-color: rgb(0 128 0 / 30%);
}

.THIS .buttonLancar:hover{
    cursor: pointer;
    transform: scale(1.03);
}


.THIS .buttonLancarContrato{
    background-color: green;
    border-radius: 10px;
    color: white;
    height: 80% !important;
    width: 50%;
    display: flex;
    border: 0px;
    align-items: center;
    justify-content: center;
}

.THIS .buttonLancarContrato:disabled,
.THIS .buttonLancarContrato[disabled]{
  background-color: rgb(0 128 0 / 30%);
}

.THIS .buttonLancarContrato:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.THIS .fontCorpo324234{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 1.3em;
    font-family: system-ui;
}

.THIS .bodyBody433544{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: auto;
}

.THIS .itemHeaderTop43849{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e7;
}

.THIS .popupSeparacaoLote{
    width: 700px;
    height: 400px;
    display: none;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    left: 0;
    right: 0;
    z-index: 10;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.THIS .itemHeaderTop438443{
    display: flex;
    text-align: center;
    width: 17%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.THIS .itemHeaderTop4384435{
    display: flex;
    text-align: center;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.THIS .columnDois2347238423{
    display: flex;
    width: 50%;
    row-gap: 20px;
    flex-direction: column;
}

.THIS .inputNms{
    width: -webkit-fill-available;
}

.THIS .inputLts{
    width: -webkit-fill-available;
}

.THIS .blocoPedido45334{
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between; /* Distribui o espaço igualmente */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #ffffff;
    align-items: center;
}

.THIS .blocoPedido45334:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.THIS .blocoPedido45334 div {
  flex: 1; /* Cada div ocupa o mesmo espaço proporcional */
}

.THIS .esqTop32482958f{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 15%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    padding: 15px;
}

.THIS .esqBot32482958f{
    display: flex;
    width: 100%;
    overflow: auto;
    row-gap: 10px;
    height: 85%;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    padding: 20px;
    background-color: #f6f7f7;
}

.THIS .iframePDF{
    width: 100%;
    height: 100%;
}

.THIS .dirTop32482958f{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.THIS .headerCol348538{
    display: flex;
    width: 100%;
    height: 15%;
    font-family: system-ui;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    background-color: #0c375a;
    color: white;
    font-weight: 300;
    border-radius: 30px 30px 0 0
}

.THIS .tituloColUm{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    color: #0c375a;
    border-color: #0c375a;
    font-family: system-ui;
}

.THIS .bodycol435897u49{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
}

.THIS .optionsConfigEntrada{
    display: flex;
    align-items: center;
    justify-content: space-between;
}






.THIS .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.THIS .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.THIS .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.THIS .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.THIS input:checked + .slider {
  background-color: #2196F3;
}

.THIS input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.THIS input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.THIS .slider.round {
  border-radius: 34px;
}

.THIS .slider.round:before {
  border-radius: 50%;
}