.THIS .classeLink{
    color: #00345C;
    text-decoration: none;
}

.THIS .classeLink:hover{
    color: #a0bb31;
}
.THIS .classLinha{
	transition: all 0.2s 0s ease-out;
	border: 1px solid white;
    border-radius: 10px;
}

.THIS .classLinha:hover{
    border: 1px solid #00345C;
    border-radius: 10px;
}

.THIS .mapContact{
    width: 50%;
    margin-bottom: 60px;
}