.btn{
    background: #0c375a;
    color: white;
    padding: 0.5rem;
    border-radius: 13px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

btn:hover {
    transform: scale(1.01);
    background-color: #1b4e78;
}