.THIS .divContainer543 {
  padding: 10px;
}

.THIS .head4334 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #2c3e50;
  text-align: center;
}

.THIS .body89831 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.THIS .helpText {
  font-size: 0.875rem;
  color: #666;
  /* margin-top: .2rem; */
  margin-bottom: 0.5rem;
  line-height: 1.4;
  text-align: center;
}

.THIS .fieldContainer446375 {
     margin-bottom: 10px;
    padding: 15px;
    background: #ebebeb;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 200px;
    height: fit-content;
    display: block;
}

.THIS .tituloField2453 {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 3px;
  color: #444;
}

.THIS .field434 {
  font-size: 13px;
  padding-left: 5px;
  font-size: 13px;
  padding-left: 5px;
  font-style: italic;
  overflow-wrap: anywhere;
}


.THIS .button3101 {
    background-color: #2c3e50;
    color: white;
    padding: 8px 16px;
    border-radius: 17px;
    cursor: pointer;
    align-self: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    justify-self: center;
    display: flex;
    width: 93%;
    height: 46px;
    margin-bottom: 35px;
}

.THIS .button3101:hover{
    transform: scale(1.01); 
}

.THIS .data-field3101{
	justify-self: center;
	border-radius: 5px;   
    width: 70%;
    height: 27px;
}

.THIS .field54{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    row-gap: 15px;   
}

.THIS .slds-modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}