.THIS .container_main {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 10px;
    max-height: 550px;
    background-color: #f1f1f1;
}

.THIS .titulosColunasHistorico{
    width: 120px;
    text-align: center;
    font-weight: 600;
}

.THIS .itemHistorico38294{
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #dbdcdc;
    justify-content: space-around;
}

.THIS .titulo342534{
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #00345c;
    font-weight: bold;
    text-align: center;
}

.THIS .container_secundario{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background-color: white;
}

.THIS .carteira{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 15px 10px;
    border-radius: 100px;
}

.THIS .carteira:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 4px;
}

.THIS .foto{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

.THIS .button-29 {
	align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #0e4b7c 0, #0c375a 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 20px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 12px;
    margin-right: 15px;
}

.THIS .button-29:focus {
  box-shadow: #0c375a 0 0 0 1px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #0c375a 0 -3px 0 inset;
}

.THIS .button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #0c375a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.THIS .button-29:active {
  box-shadow: #0c375a 0 3px 7px inset;
  transform: translateY(2px);
}

.THIS .nome{
    width: calc(75% - 50px);
    padding-left: 15px;
    font-size: larger;
}

.THIS .saldo{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.THIS .container_secundario_interno{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: overlay;
    padding: 10px;
}

.THIS .container_secundario_interno::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.THIS .container_secundario_interno::-webkit-scrollbar-track {
    background: #f2f2f2; 
}

.THIS .container_secundario_interno::-webkit-scrollbar-thumb {
    background-image: radial-gradient(100% 100% at 100% 0, #0c375a  0, #0c375a 100%);
    border-radius: 20px;
    border: 3px solid #0c375a;
}

.THIS .historico::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.THIS .historico::-webkit-scrollbar-track {
    background: #f2f2f2; 
}

.THIS .historico::-webkit-scrollbar-thumb {
    background-image: radial-gradient(100% 100% at 100% 0, #0c375a  0, #0c375a 100%);
    border-radius: 20px;
    border: 3px solid #0c375a;
}



.THIS .button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.THIS .button-6:hover,
.THIS .button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.THIS .button-6:hover {
  transform: translateY(-1px);
}

.THIS .button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.THIS .premiacao-popup{
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fefefe;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
    transform: translate(-50%, -50%);   
}

.THIS .premiar{
    background-image: radial-gradient(100% 100% at 100% 0, #0e4b7c 0, #0c375a 100%) !important;
    color: #fff !important;
}

.THIS .premiar:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #0e4b7c 0, #0c375a 100%) !important;
    color: #fff;
}