.THIS .legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.THIS .todos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding: 2px 0;
    
}
.THIS .legend-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 35px;
    color: white; 
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding: 2px 15px;
    transition: background-color .3s ease;
}
.THIS .footerInfoReserva{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.THIS .legend-item:hover{
    scale:1.05;
    transition:0.3s;
}

.THIS .fc-event {
    padding: 2px !important;
}

.THIS .divCalendario{
    width: 100%;
    padding: 20px;
    background-color: white;
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.THIS .slds-m-around_medium{
    width: 100%;
    border: 1px solid #e6e6e7;
    border-radius: 20px;
    height: 700px;
    padding: 20px;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.THIS .espaco{
    height: 50px;
    width:50px;
}


.THIS .filtro-container {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 12px;
    margin-bottom: 20px;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.THIS .filtro-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.THIS .legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.THIS .legend-item {
    display: flex;
    align-items: center;
    justify-content: center;
   /* width: 125px;*/
    height: 35px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    /*padding: 2px 0;*/
    transition: background-color 0.3s ease;
}

.THIS .legend-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}