.THIS .body35348kdf .itemTable43534:nth-child(odd) {
  background-color: #F4F5FF; /* Azul claro */
}

.THIS .body35348kdf .itemTable43534:nth-child(even) {
  background-color: #ffffff; /* Branco */
}

.THIS .button4345345{
    background-color: #0c375a;
    height: 40px;
    color: white;
    border: 0px solid;
    border-radius: 10px;
}


.THIS .body35348kdf{
    display: flex;
    width: 100%;
    height: 600px;
    overflow: auto;
    flex-direction: column;
}

.THIS .littleCard4324{
    display: flex;
    width: 100%;
    height: 78px;
    font-family: system-ui;
    flex-direction: column;
}

.THIS .card48573{
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid #d8dae0;
    padding: 12px 16px;
}

.THIS .siteforcePrmBody{
    background-color: #F4F5FF!important;
}

.THIS .tableHeader2344{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f3d9d9;
    height: 40px;
    min-height: 40px;
}

.THIS .itemHeader4328{
    width: 100%;
    color: gray;
    display: flex;
    align-items: center;
}


.THIS .itemTable43534{
    display: flex;
    width: 100%;
    height: 40px;
    min-height: 40px;
    padding: 5px;
    border-radius: 7px;
}

.THIS .itemTable43534:hover{
    cursor: pointer;
    border: 1px solid gray;
}

.THIS .item43534{
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
}

.THIS .textTitle328942{
	font-size: 1.7em;
    display: flex;
    justify-content: center;
    font-family: system-ui;
    padding-bottom: 30px;
    color: #0c375a;
    font-weight: 600;
    padding-top: 80px;
}

.THIS .dateInput43453{
    height: 100%;
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}