.THIS .principalDiv4745839{
    display: flex;
    width: 100%;
    height: 800px;
    column-gap: 30px;
}

.THIS .linha3423{
    height: 50px!important;
}

.THIS .columnUm2347238423{
    display: flex;
    width: 50%;
    flex-direction: column;
    row-gap: 30px;
}

.THIS .headerBody3242{
    display: flex;
    height: 40px;
}

.THIS .bodyBody433544::-webkit-scrollbar {
    width: 6px;
}

.THIS .bodyBody433544::-webkit-scrollbar-track {
    background: #ffffff;
}

.THIS .bodyBody433544::-webkit-scrollbar-thumb {
    background-color: #a0bb31;
    border-radius: 38px;
    border: 0px none #ffffff;
}

.THIS .itemPcs{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    max-height: 40px;
    min-height: 40px;
    border-bottom: 1px solid #e6e6e7;
}

.THIS .fontTopo23423{
    font-family: system-ui;
    font-size: 1.2em;
    color: #0c375a;
    font-weight: 600;
}

.THIS .title23423423{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 2em;
    color: #0c375a;
    font-family: system-ui;
    font-weight: 400;
}

.THIS .buttonDownloadXML{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-family: system-ui;
    font-size: 1.2em;
}

.THIS .buttonDownloadXML:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.THIS .buttonLancar{
    background-color: green;
    border-radius: 10px;
    color: white;
    height: 80% !important;
    width: 50%;
    display: flex;
    border: 0px;
    align-items: center;
    justify-content: center;
}

.THIS .buttonLancar:disabled,
.THIS .buttonLancar[disabled]{
  background-color: rgb(0 128 0 / 30%);
}

.THIS .buttonLancar:hover{
    cursor: pointer;
    transform: scale(1.03);
}


.THIS .buttonLancarContrato{
    background-color: green;
    border-radius: 10px;
    color: white;
    height: 80% !important;
    width: 50%;
    display: flex;
    border: 0px;
    align-items: center;
    justify-content: center;
}

.THIS .buttonLancarContrato:disabled,
.THIS .buttonLancarContrato[disabled]{
  background-color: rgb(0 128 0 / 30%);
}

.THIS .buttonLancarContrato:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.THIS .fontCorpo324234{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 1.3em;
    font-family: system-ui;
}

.THIS .bodyBody433544{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}

.THIS .itemHeaderTop43849{
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e7;
}

.THIS .itemHeaderTop438443{
        display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.THIS .columnDois2347238423{
    display: flex;
    width: 50%;
    row-gap: 20px;
    flex-direction: column;
}

.THIS .esqTop32482958f{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 15%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    padding: 15px;
}

.THIS .esqBot32482958f{
    display: flex;
    width: 100%;
    height: 85%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    background-color: #323639;
}

.THIS .iframePDF{
    width: 100%;
    height: 100%;
}

.THIS .dirTop32482958f{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.THIS .headerCol348538{
    display: flex;
    width: 100%;
    height: 15%;
    font-family: system-ui;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    background-color: #0c375a;
    color: white;
    font-weight: 300;
    border-radius: 30px 30px 0 0
}

.THIS .bodycol435897u49{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
}