.THIS .mainBox3242{
    width: 100%;
    border: 1px solid #e6e6e7;
    border-radius: 20px;
    height: 700px;
    padding: 20px;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.THIS .conatainer{
    width: 100%;
    border: 1px solid #e6e6e7;
    border-radius: 20px;
    height: 700px;
    padding: 20px;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.THIS .itemLocation34232{
    background-color: white;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    transition: transform .2s;
    flex-grow: 1;
    max-width: 400px;
}

.THIS .breadCrumbsReservas{
    color: #0f375c;
}

.THIS .footerInfoReserva{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.THIS .customSelectOptions{
    text-transform: none;
    width: 100%;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
}

.THIS .popupRecordNovaReserva{
    background-color: white;
    width: 300px;
    height: auto;
    position: absolute;
    right: 0;
    top: 30px;
    border: 1px solid #0f375c;
    border-radius: 10px;
    z-index: 100;
    padding: 20px;
    display: none;
}

.THIS .buttonCriarNovaReserva{
    color: white;
    background-color: #0f375c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

.THIS .buttonCriarNovaReserva:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.THIS .navBarReserva{
    height: 5%;
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.THIS .iconReturn:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.THIS .iconReturn{
    color: #0f375c;
    font-size: 1.3rem;
}

.THIS .boxInner{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.THIS .itemLocation34232:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.THIS .linha132423{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.THIS .linha232423{
    width: 100%;
    row-gap: 10px;
    height: 30%;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5C5C5;
}

.THIS .divCalendario{
    width: 100%;
    padding: 20px;
    background-color: white;    
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.THIS .IconOrImage342{
    display: flex;
    width: 100%;
    height: 60%;
    background-color: #efefef;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.THIS .infoItem32423{
    width: 100%;
    height: 40%;
    display: flex;
}

.THIS .title453435{
    display: flex;
    font-size: 1.6em;
    font-weight: 600;
}

.THIS .desc453435{
    display: flex;
}

.THIS .innerInfo324233{
    flex-direction: column;
    height: 100%;
    color: #0f375c;
    display: flex;
    width: 100%;
    justify-content: center;
}

.THIS .innerInfo32423{
    flex-direction: column;
    height: 100%;
    color: #0f375c;
    display: flex;
    width: 70%;
    justify-content: center;
}

.THIS .buttonInfo0324{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .buttonInner3435{
    width: 100%;
    border-radius: 5px;
    border: 0px;
    background-color: #0f375c;
    color: white;
    transition: transform .2s;
    
}

.THIS .buttonInner3435:hover{
    transform: scale(1.05);
}