.THIS .containerSidebar {
    flex-direction: column;
    background-color: white;
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}

.THIS .containerViewer {
    flex-direction: column;
    background-color: white;
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}

.THIS .tituloCabecalho{
    display: flex;
    height: 8%;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: linear-gradient(270deg, rgb(12, 55, 90) 21.95%, rgb(0, 0, 0) 118.57%),rgb(13, 55, 91);
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.THIS .bodySidebar{
    height: 100%;
    display: flex;
    margin: 20px;
    flex-direction: column;
    row-gap: 20px;
}

.THIS .bodyContainer{
    height: 46%!important;
    display: flex;
    margin: 20px;
    flex-direction: column;
    row-gap: 20px;
}



.THIS .bodyContainer2{
    height: 46%!important;
    display: flex;
    margin: 20px;
    flex-direction: column;
    row-gap: 20px;
}

.THIS .containerTabela{
    overflow: auto;
    height: 92%;
    display: flex;
    margin: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 20px;
}

.THIS .containerTabela::-webkit-scrollbar {
    width: 6px;
}

.THIS .containerTabela::-webkit-scrollbar-track {
    background: #ffffff;
}

.THIS .containerTabela::-webkit-scrollbar-thumb {
    background-color: #a0bb31;
    border-radius: 38px;
    border: 0px none #ffffff;
}