.THIS .chart-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: auto;
}

.THIS .topo329838{
    width: 100%;
    height: 30%;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.THIS .body48356493{
    display: flex;
    width: 100%;
    height: 400px;
    gap: 20px;
}

.THIS .titleBox3829{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    font-size: 1.4em;
    color: grey;
    font-weight: 100;
    font-family: system-ui;
}

.THIS .date435345{
    display: flex;
    border-left: 5px solid #ffb03b;
    border-radius: 4px;
    padding-left: 5px;
    height: 100%;
    align-items: center;
    width: 33%;
}

.THIS .date43534576{
    height: 100%;
    align-items: center;
    width: 33%;
    display: flex;
}

.THIS .item3829342{
    align-items: center;
    width: 100%;
    display: flex;
    height: 50px;
    padding: 2px;
}

.THIS .item3829342:hover{
    border: 1px solid #E6E6E7;
    border-radius: 10px;
    cursor: pointer;
}

.THIS .date43534765{
    height: 100%;
    align-items: center;
    width: 33%;
    display: flex;
}

.THIS .esq485934{
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
}

.THIS .numBox483597{
    display: flex;
    height: 50%;
    width: 100%;
    font-size: 3em;
    font-weight: 600;
}

.THIS .dir485934{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #ffd79d;
}

.THIS .text324234{
    font-size: 1.2em;
    font-weight: 600;
}

.THIS .first483943{
    display: flex;
    width: 60%;
    height: 100%;
    border: 1px solid #e6e6e7;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
}

.THIS .second483943{
    display: flex;
    height: 100%;
    width: 40%;
    border: 1px solid #e6e6e7;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


.THIS .itemBox3824923{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid #e6e6e7;
    border-radius: 20px;
    padding: 20px;
}