.THIS .principalDiv3284923{
    width: 100%;
    height: 400px;
    gap: 20px;
    display: flex;
    margin-bottom: 30px;
}

.THIS .aFaturar3424234{
    width: 50%;
    height: 100%;
}

.THIS .Faturado3424234{
    width: 50%;
    height: 100%;
}

.THIS .urgentClass423342{
    background-color: red;
}

.THIS .naturezaOp34234{
    font-size: 10px;
    background-color: #0c375a;
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.THIS div.urgentClass423342, 
.THIS div.urgentClass423342 > a {
    color: white;
}
.THIS .itemBox382472390{
    display: flex;
    height: 90px;
    border-radius: 20px;
    width: 150px;
    min-width: 150px;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    gap: 2px;
    border: 1px solid #e4e4e4;
}

.THIS .borderBox3849237{
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.THIS .titleBox325094573{
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    font-family: system-ui;
    font-weight: 500;
    color: #0c375a;
    padding-bottom: 10px;
    height: 10%;
    border-bottom: 1px solid #e4e4e4;
}

.THIS .bodyContent4835945{
    display: flex;
    height: 90%;
    padding: 10px;
    overflow: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
}