.THIS .class453454{
    background-color: #f3f3f3;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 65px;
    padding: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 20px;
}

.THIS .tituloclass3425233{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.THIS .class5687948564{
    background-color: white;
    border: 1px solid #747474;
    height: 32px;
    width: 200px;
    border-radius: 5px;
    color: #0176d3;
    font-size: 12px;
    font-family: system-ui;
}

.THIS .class5687948564:hover{
    background-color: #f3f3f3;
}