.THIS .seletorBancos349825234{
    border-radius: 20px;
    border: 1px solid #00345c;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.THIS .tituloComponente {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #00345c;
    font-weight: bold;
    text-align: center;
}

.THIS .select483953{
    height: 40px;
    border-radius: 10px;
}

.THIS .buttonStyle32453{
    margin-top: 10px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    background-color: #0c375a;
    color: white;
}