.THIS {
    text-align: center;
}
 
.THIS > p {
    font-size: 14px;
    color: #CCCCCC;
    margin: 1px 0;
}
 
.THIS img {
    min-height: 130px;
    max-height: 130px;
    max-width: 300px;
    width: auto;
    height: auto;
    border-radius: 7px;
}