.THIS .flag-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.THIS .flag {
    height: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.THIS .textClass34524534{
    color: white;
    font-family: system-ui;
    font-size: 0.8em;
    font-weight: 500;
}

.THIS .flag:hover {
    border-color: #0070d2;
    border-radius: 5px;
}

.THIS .class3453245{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}