.THIS body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
}


.THIS .cChat_liciatacao{
    display: flex !important;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.THIS .chat-sidebar {
    flex: 2;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    background: #1a365f;
    color: white;
    display: none;
}

.THIS  .chat-main {
    flex: 7;
    padding: 0 20px;
}

.THIS .chat-header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
    color: #0c264d;
}

.THIS .chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* width */
.THIS .containe_historicos::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.THIS #chat-messages::-webkit-scrollbar-track {
  background: #102646;
  border-radius: 10px;
}

/* Handle */
.THIS #chat-messages::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle on hover */
.THIS #containe_historicos::-webkit-scrollbar-thumb:hover {
  background: #f4f4f4;
  border-radius: 10px;
}




.THIS .message{
    max-width: 60%;
    /* background: #b34646; */
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
}
.THIS .user{
    align-self: end;
    background: #1a365f;
    color: #fefefe;
}

.THIS #message-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0px;
}

.THIS #send-button {
    display: block;
    padding: 0px 15px;
    background-color: #1a365f;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 5px;
    height: 2.5rem;
}
.THIS .containe_historicos{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    overflow:auto;
    height: 400px;
}

/* width */
.THIS .containe_historicos::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.THIS .containe_historicos::-webkit-scrollbar-track {
   background: #102646;
  border-radius: 10px;
}

/* Handle */
.THIS .containe_historicos::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle on hover */
.THIS .containe_historicos::-webkit-scrollbar-thumb:hover {
  background: #f4f4f4;
  border-radius: 10px;
}

.THIS .conversa_antiga{
    padding:0.8rem 0.6rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius:10px; 
}

.THIS .conversa_antiga:hover{
    background: rgba(243, 243, 243, 0.3)
}

.THIS .message_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 10px;
}

.THIS #nova_conversa{
    display: flex;
    flex-direction: row;
    height: 4rem;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}

.THIS .fa{
    color: white;
}

.THIS .fa-4x{
    font-size: 6rem;
    padding: 1.5rem;
    cursor: pointer;
}





.THIS .fa-4x:hover{
    font-size: 7.5rem;
    padding: 0.7rem;
}
.THIS .icons_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    height: 100%;
}





/* width */
.THIS #chat-messages::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.THIS #chat-messages::-webkit-scrollbar-track {
   background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle */
.THIS #chat-messages::-webkit-scrollbar-thumb {
  background: #1a365f;
  border-radius: 10px;
}

/* Handle on hover */
.THIS #chat-messages::-webkit-scrollbar-thumb:hover {
  background: #11233d;
  border-radius: 10px;
}

.THIS .popup_doc{
    display:none;
    position:absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}
/*
.THIS .fa-file-text:before{
    content: "\f15c";
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
    background: rgb(163, 163, 163,0.2);
}

.THIS .fa-list-ul:before {
    content: "\f0ca";
    / content: "\f15c"; 
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
    background: #a3a3a336;
}

*/