.THIS .btn-enviar {
    background-color: #00345C;
    border-radius: 8px;
    padding: 10px 16px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.THIS .btn-enviar:hover {
    background-color: #004a8d;
}

.THIS .mensagem-status {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}