.THIS .customButton3242{
    width: 100%;
    display: flex;
    margin: 0 !important;
    justify-content: center;
}


.THIS .customButton3242 > button {
    width: 100%;
    border-radius: 15px;
    height: 50px;
}

.THIS .customButton3242 > button::before {
    content: 'GERAR PDF ';
    margin-right: 0.25rem;
    font-weight: bold;
    color: #1a1a1a;
}