.THIS .principalDiv347236482{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    gap: 10px;
    height: 200px;
    overflow: auto;
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}
.THIS .seundariaDiv347236482{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    gap: 10px;
    height: 200px;
    overflow: auto;
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}


.THIS .item-metrica {
    flex-grow: 1;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    height: 100%;
    display: flex;
    max-width: 300px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.THIS .titleBox325094573 {
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    font-family: system-ui;
    font-weight: 500;
    color: #0c375a;
    padding-bottom: 10px;
    height: 10%;
}

.THIS .coluna-Esq{
    display: flex;
    width: 70%;
    flex-direction: column;
}

.THIS .fullWidht{
    width: 100%;
}

.THIS .principalDiv347236482::-webkit-scrollbar {
    height: 6px;
}

.THIS .principalDiv347236482::-webkit-scrollbar-track {
    background: #ffffff;
}

.THIS .principalDiv347236482::-webkit-scrollbar-thumb {
    background-color: #a0bb31;
    border-radius: 38px;
    border: 0px none #ffffff;
}


.THIS .secundariaDiv347236482::-webkit-scrollbar {
    height: 6px;
}

.THIS .secundariaDiv347236482::-webkit-scrollbar-track {
    background: #ffffff;
}

.THIS .secundariaDiv347236482::-webkit-scrollbar-thumb {
    background-color: #a0bb31;
    border-radius: 38px;
    border: 0px none #ffffff;
    
}
.THIS .title-col-esq{
    display: flex;
    height: 40%;
    font-size: 1em;
    font-weight: 600;
    align-items: center;
    color: #99989D;
    justify-content: center;
}

.THIS .value-col-esq{
    display: flex;
    height: 60%;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.THIS .container { 
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px; 
}

.THIS .skill { 
    background-color: rgb(12 55 90);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}