.THIS .containerMestreResumoMetas{
    width: 100%;
    padding: 10px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.THIS .customResumoMetasInput{
    height: 30px;
    border: 1px solid #e6e6e7;
    border-radius: 10px;
    width: 200px;
    flex-grow: 1;
}

.THIS .blocoInfoMetas{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.THIS .valorInfoStyle{
        width: 100%;
    height: 5%;
    font-size: 40px;
    color: #00345c;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.THIS .tituloResumoMetas{
    width: 100%;
    height: 5%;
    font-size: 20px;
    color: #00345c;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}