.THIS .testebtn {
    display: inline-block;
	width:100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: blue;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.THIS  .testebtn:hover {
   background-color: #0056b3;
}