.slds-box {
    border: 1px solid #d8dde6;
    padding: 1rem;
    border-radius: 0.25rem;
}

.slds-m-around_medium {
    margin: 1rem;
}

.slds-m-top_small {
    margin-top: 0.5rem;
}

.slds-m-bottom_small {
    margin-bottom: 0.5rem;
}
.secao{
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px 0;
    width: 100%;
}
.imagem{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    padding: 5px;
    border: .9px solid #dbdbdb;
}