.THIS .containerPrincipalAssinatura{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 15px;
    gap: 20px;
}

.THIS .buttonTimeline39242{
    font-family: system-ui;
    border-radius: 10px;
    border: 0px solid white;
    font-size: 0.9em;
    padding: 10px;
    cursor: pointer;
}

.THIS .buttonTimeline39242:hover{
    transform: scale(1.02);
}

.THIS .divButton{
    align-items: center;
    justify-content: end;
    display: flex;
}

.THIS .buttonEnvia{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #2c3e50;
    font-family: system-ui;
    font-size: 1.2em;
}

.THIS .modal-dialog{
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 2px 3674px rgba(0, 0, 0, 2);
}

.THIS .buttonEnvia:hover{
    transform: scale(1.02);
}

.THIS .divBotoesAssinando{
    display: flex;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .modal-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.THIS .modal-body{
    height: 60%;
}

.THIS .modal-header{
    display: flex;
    font-size: 1.3em;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    color: #2C3E50;
    font-family: system-ui;
    font-weight: 600;
}

.THIS .modal-footer{
    height: 20%;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.THIS .modal{
    padding-top: 100px;
    opacity: 1!important;
    display: none;
    position: fixed;
    z-index: 100;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.THIS .btn932423{
    border-radius: 10px;
    border: 0px solid;
    padding: 10px;
    font-family: system-ui;
}

.THIS .btn932423:hover{
    transform: scale(1.02);
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.THIS .modal3243{
    animation: 0.3s ease-out 0s 1 normal forwards running growIn;
    transform-origin: center center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.THIS ul {
    margin-bottom: 0px;
}

.THIS .steps{
    width: 100%;
}

.THIS ul.progressbar li.current:before {
    background: rgb(15 55 92);
    color: #fff;
    cursor: pointer
}

.THIS ul.progressbar li.done:before, .THIS ul.progressbar li.done:after {
    color: #fff;
    background: #55cd15;
}