.container {
    padding: 1rem;
    text-align: center;
}

.mensagem {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.checkbox {
    margin-bottom: 1.5rem;
}

.assinatura p {
    margin: 0.3rem 0;
    font-size: 1rem;
}