.THIS .slds-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.THIS td{
    max-width: 120px!important;
    white-space: break-spaces;
}
.THIS .input-personalizado {
    width: 280px; /* Define um tamanho fixo */
}