.THIS .item {
  border: 2px solid #222222;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  will-change: transform;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.THIS .titulo {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

.THIS .boxContain {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.THIS .item:hover {
  border-color: #0f375c;;
  transform: scale(1.025);
}

.THIS .item svg {
  width: 36px;
  height: 36px;
  transition: all 0.3s ease-in-out;
}

.THIS .item:hover svg {
  color: #7e3af2;
  fill: red;
}

.THIS .item button {
  all: unset;
  margin-left: auto;
  background-color: #0f375c;
  padding: 12px 16px;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.THIS .item button:hover {
  background-color: white;
  color: #0f375c;
    border: 1px solid #0f375c;
}

.THIS .item .filedata {
  display: flex;
  gap: 4px;
  font-size: 12px;
  margin-top: 8px;
  color: #888888;
}