.THIS .principalDiv324234234{
    width: 100%;
    display: none;
    border: 1px solid #e6e6e7;
    border-radius: 10px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    padding: 20px;
}

.THIS .resultados4239584{
    display: none;
    width: 100%;
    flex-direction: column;
}

.THIS .button234234234{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: #0c375a;
}

.THIS .item48359345{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
	flex-direction: row;    
}

.THIS .item48359345:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    	flex-direction: row;    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}