.THIS .boxItem {
    text-align: right;
    top: 380px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: right;
    z-index: 1000;
}
.THIS .clss{
    position: absolute;
}