.THIS .slds-card__header-title{
	text-align: center;
    display: flex;
    justify-content: center;
}

.THIS .cTarefa_dataInterna{
        padding: 10px;
}

.THIS .slds-button slds-button_neutral{
        width: 100%;

}