.THIS .hide{
    display: none;
}

.THIS .classBtnProdutos:active + .hide{
    display: block;
}

.THIS *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.THIS nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: #242526;
}
.THIS nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.THIS .wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.THIS .wrapper .nav-links{
  display: inline-flex;
}
.THIS .nav-links li{
  list-style: none;
}
.THIS .nav-links li a{
  outline: none;
  color: #000000;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 100;
  padding: 9px 15px;
  transition: all 0.3s ease;
}
.THIS .nav-links li a:hover{
	font-size: 0.95rem;
	border-bottom: 4px solid #00345C;
  
}
.THIS .nav-links .mobile-item{
  display: none;
}
.THIS .nav-links .drop-menu{
  margin-top: 15px;
  position: absolute;
  background: #00345c;
  width: 180px;
  line-height: 45px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.THIS .nav-links li:hover .drop-menu,
.THIS .nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}
.THIS .drop-menu li a{
  width: 100%;
  color: #ffffff;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.THIS .mega-box{
    margin-top: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  

  opacity: 0;
  visibility: hidden;
}
.THIS .mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.THIS .mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.THIS .content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.THIS .content .row header{
  text-align: center;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.THIS .content .row .mega-links{
  border-left: 1px solid rgba(255,255,255,0.09);
}
.THIS .row .mega-links li{
  padding: 0 20px;
}
.THIS .row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.THIS .row .mega-links li a:hover{
  color: #f2f2f2;
}
.THIS .wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.THIS .wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .THIS .wrapper .btn{
    display: block;
  }
  .THIS .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  .THIS ::-webkit-scrollbar {
    width: 10px;
  }
  .THIS ::-webkit-scrollbar-track {
    background: #242526;
  }
  .THIS ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  .THIS #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  .THIS #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  .THIS #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .THIS .nav-links li{
    margin: 15px 10px;
  }
  .THIS .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .THIS .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  .THIS #showDrop:checked ~ .drop-menu,
  .THIS #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .THIS .nav-links .desktop-item{
    display: none;
  }
  .THIS .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .THIS .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .THIS .drop-menu li{
    margin: 0;
  }
  .THIS .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .THIS .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .THIS .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .THIS .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .THIS .mega-box .content .row:nth-child(1),
  .THIS .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .THIS .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .THIS .row .mega-links li{
    margin: 0;
  }
  .THIS .content .row header{
    font-size: 19px;
  }
}
.THIS nav input{
  display: none;
}

.THIS .body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.THIS .body-text div{
  font-size: 45px;
  font-weight: 600;
}