.THIS .divButtonSAP {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}

.THIS .classDivMaster{
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .iframeClass{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border: 0px solid black;
    border-radius: 20px;
    display: none;
    position: absolute;
    z-index: 100;
    background-color: white;
    height: 800px;
    width: 1000px;
    top: 0px;
    padding: 20px;
    flex-direction: column;
    row-gap: 10px;
}

.THIS .divCheckbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.THIS .imgItemClass{
    height: 60px;
    object-fit: contain;
}

.THIS .column1Desc{
    max-width: 40%;
    min-width: 40%;
}

.THIS .itensChecklist{
    overflow: auto;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.THIS .itemDemo{
    flex-direction: column;
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    row-gap: 10px;	
    column-gap: 10px;
    border: 1px solid #ffd5d5;
    padding: 10px;
    border-radius: 30px;
}

.THIS .popupAssinaturas{
    background-color: white;
    height: auto;
    width: 800px;
    display: none;
    position: absolute;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    padding: 20px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transform: translate(-50%,-50%);
}

.THIS .assinaturaDiv{
    width: 100%;
    display: flex;
    height: 80%;
    border-bottom: 1px solid #ede7e7;
    align-items: center;
    justify-content: center;
}

.THIS .assinaturaContainer{
    width: 100%;
    display: flex;
    height: 35%;
    column-gap: 10px;
    border-left-color: #ede7e7;
    border-left-style: solid;
    border-left-width: 1px;
}


.THIS .docTitleChecklist{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
}

.THIS .txtBold2342{
    font-weight: 600
}

.THIS .checkItem{
    width: 15%;
    display: flex;
    column-gap: 5px;
    justify-content: center;
    border-right-color: #ffd5d5;
    border-right-width: 1px;
    border-right-style: solid;
}

.THIS .descItem {
    display: flex;
    width: 85%;
    column-gap: 20px;
}

.THIS .signature-pad{
    border:1px solid #e6e6e6;
    
}