.THIS .btn-primary:hover{
    animation-duration: 5s;
    transform: scale(1.11);
}

.THIS .divImagem:hover{
    animation-duration: 5s;
    transform: scale(1.05);
}

.THIS .tagFlutuante{
    position: absolute;
    background-color: #00345c;
    color: white;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 35px;
    border-radius: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}