.THIS .principalDiv3489348389{
    display: flex;
    width: 100%;
    background-color: #F8F9FA;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    justify-content: center;
    font-family: system-ui;
    font-size: 1.2em;
    flex-direction: column;
    row-gap: 10px;
    height: 300px;
}

.THIS .buttonAnexar826734{
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex;
    width: 100%;
    background-color: #0c375a;
    color: white;
    border: 1px solid #0c375a;
    border-radius: 5px;
    font-family: system-ui;
    font-weight: 400;
    font-size: 1.1em;
}

.THIS .buttonAnexar826734:hover{
    transform: scale(1.01);
}

.THIS .inputStyle3425312{
    min-height: 30px;
    border-radius: 5px;
    border: 1px solid #0c375a;
}

.THIS .tituloComp342958347{
    display: flex;
    font-family: system-ui;
    font-weight: 600;
    color: #0c375a;
}