.THIS * {
    margin:0;
    padding:0;
    
}
.THIS .fa-exclamation {
  animation: pulseAnimation 1.5s ease-in-out infinite; 
    color: red;
}



@keyframes pulseAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1); /* Slightly larger */
        opacity: 0.7; /* Slightly transparent */
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.THIS .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espaço entre os cards */
    margin: 20px 0;
}
.THIS .cards-list {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Espaço entre os cards */
    margin: 20px 0;
}


.THIS .p-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 16px;
    width: 200px; /* Largura fixa ou use porcentagem */
    min-height: 100px;
}


.THIS .new-btn {
    color: white;
    padding: 8px 16px;
    border-radius: 15px!important;
    cursor: pointer;
    align-self: flex-end;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #2c3e50!important;
}

.THIS .container {
    background-color: #f5f5f5;
    padding: 24px;
    border-radius: 15px;
    position: relative; 
    min-height: 120px;
    display: flex;
    flex-direction: column;
}
	
.THIS .title {
    font-weight: bold;
    color: #2c3e50;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    font-size: 1.6em;
}


.THIS .subtitle {
    color: #4b5563;
}

.THIS .p {
    background-color: #fcfcfc ;
    padding: 1em;
    border-radius: 8px;
    margin-top: 16px;
    width: 100%;
    height: 80;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    
}
.THIS .p:hover {
    background-color: #fff8f8; 
    transform: scale(1.02); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.THIS .p-title {
    font-weight: bold;
}

.THIS .p-desc {
    color: #4b5563;
}			

.THIS .new-btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.THIS .new-btn:hover{
    transform: scale(1.01); 
}